{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Home Document Manager
{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% block navbar %}
    <!--
    Upload form modal
    ________________________________________________________________________-
    -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload document</h4>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--
    Navigation bar
    ________________________________________________________________________-
    -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Document Track</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button id="modal_show" class="btn btn-default navbar-btn" type="button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-upload"></span> Upload file</button>
                    </li>
                    
                    <li><a href="/logout">Logout &nbsp;<span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid --></nav>
            {% endblock %}
            {% block content %}
                {% if search_category %}
                    {{ search_query }}
                {% endif %}
                <div class="container-fluid">
                    <div class="row well" id="custom_well">
                        <h2>Type your search query below</h2>
                        <div class="col-md-12">
                            <form class="form-inline" role="form" id="yourformID-form" action="#" method="get">
                                <div class="input-group">
                                    <span class="input-group-addon">Search</span>
                                    <div class="form-group">
                                        <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                                    </div>
                                    <div class="form-group">
                                        <button class="form-control" type="submit">Go</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-10 well">
                            <table class="table table-list-search" id="result_table">
                                <thead class="tablehead_style">
                                    <tr>
                                        <th>Document Title</th>
                                        <th>Document cloud Link</th>
                                        <th>Document keywords</th>
                                        <th>Document department</th>
                                        <th>Document download link</th>
                                        <th>Document uploader</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ docus.title }}
                                    {% for doc in docus %}
                                        <tr>
                                            <td>{{ doc.title }}</td>
                                            <td><a href="{{ doc.link }}">{{ doc.link }}</a></td>
                                            <td>{{ doc.keywords }}</td>
                                            <td>{{ doc.department }}</td>
                                            <td><a href="{{doc.file_path}}">{{ doc.title }}</a></td>
                                            <td>{{ doc.uploader }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-2" well>
                            <h4 class="tablehead_style file_header">Latest Files</h4>
                            {% for top_five in top_documents: %}
                                <li><a href="{{ top_five.link }}">{{ top_five.title }}</a></li>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            {% endblock %}
            
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/user_home.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}