{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Home Document Manager
{% endblock %}
{% block navbar %}


    <!--
    Upload form modal
    ________________________________________________________________________-
    -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload document</h4>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--
    Navigation bar
    ________________________________________________________________________-
    -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Document Track</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><button id="modal_show" class="btn btn-default navbar-btn" type="button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-upload"></span> Upload file</button></li>
                    <li><a href="/logout">Logout &nbsp;<span class="glyphicon glyphicon-log-out"></span></a></li>
                    <li><a href="/signin" class="active">Account settings</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid --></nav>

        {% endblock %}
        {% block content %}
            <div class="container">
                <div class="row well" id="custom_well">
                    <div class="col-md-12 center">
                        <h2>Type your search query below</h2>
                        <form action="#" method="get">
                            <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                                <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row vdivide">
                    <div class="col-md-8">
                        <table class="table table-list-search">
                            <thead>
                                <tr>
                                    <th>Document Title</th>
                                    <th>Document cloud Link</th>
                                    <th>Document keywords</th>
                                    <th>Document department</th>
                                    <th>Document download link</th>
                                    <th>Document uploader</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for doc in docus %}
                                <tr>
                                    <td>{{ doc.title }}</td>
                                    <td>{{ doc.link }}</td>
                                    <td>{{ doc.keywords }}</td>
                                    <td>{{ doc.department }}</td>
                                    <td><a href="{{doc.file_path}}">{{ doc.file_path }}</a></td>
                                    <td>{{ doc.uploader }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4">
                        {% for doc in docus: %}
                            <li>{{ doc.file_path }} : {{ doc.title }} : {{ doc.link }} : {{ doc.keywords }} {{ doc.department }}</li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block scripts %}
            <script type="text/javascript" src="{{ url_for('static', filename='js/user_home.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/user_home.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        {% endblock %}