.navbar-default{
	background: #0D47A1;
	border-radius: 0px;
	color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color:#fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-default .navbar-brand {
    color:#eeeeee;
}

.tablehead_style{
    background-color: #0D47A1;
    color: #fff;
}

.file_header{
    padding: 10px;
}

.notif{
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background: #fee;
    align-text: centered;
}

.col-centered{
    float: none;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 2px 2px 6px;
}

.jumbotron-clear{
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}
#custom_well{
    border-radius: 0px;
}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 10px;
    border-radius: 0px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}

.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}


