.navbar-default{
	background: #0D47A1;
	border-radius: 0px;
	color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color:#fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-default .navbar-brand {
    color:#eeeeee;
}

.notif{
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background: #fee;
    align-text: centered;
}

.col-centered{
    float: none;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 2px 2px 6px;
}

.jumbotron-clear{
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}
